#body{
    margin-inline: 10%;
    /*background-color: black;*/
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-image: url("../Img/bg-image.png");
    background-size: 100%;
}

#nav_box{
    display: flex;
    border: 3px solid rgb(60, 190, 255);
    padding: 10px;
    position: sticky;
    top: 0px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
}

#main{
    background-color: rgba(35, 35, 35, 0.5);
    padding: 5px;
}

#main_subtitle{
    text-align: center;
    font-size: 60px;
}

#footer{
    border: 3px solid blue;
    padding: 10px;
    background-color: rgba(0, 0, 100, 0.75);
}

#form_box{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.title{
    text-align: center;
    font-size: 80px
}

.title_box{
    display: flex;
    background-color: blue;
    border: 10px outset white;
    margin-inline: -5%;
    justify-content: center;
    flex-wrap: wrap;
}

.nav_item{ /*Esta clase y '.link' tienen las mismas características, osea que una sobra*/
    color: rgb(243, 60, 255);
}

.larger_text{
    font-size: 18px;
    text-align: justify;
}

.page_link{
    position: relative;
    left: 0px;
}

.test_border{
    border: 1px solid white;
}

.image_box{
    display: flex;
    justify-content: center;
    padding-block: 50px;
}

.image{
    display: flex;
    border: 0.3vw double white;
    flex-basis: 500px;
}

.footer_box{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.body-subtitle{
    font-size: 35px;
    background-color: rgb(243, 60, 255, 0.25);
    text-align: center;
}

.link {
    color: rgb(243, 60, 255)
}